@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to top, #401A36,
    #7511D9,#A2A6F2,#486CD9,#0A4DA6);
    background-attachment: fixed;
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.596);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #0A4DA6;
    text-align: center;
    text-shadow: 1px 1px 0px #052a5a;
}
h2{
    color:#486CD9 ;
}
p{
    text-align: justify;
}   